/* OVerlay  */
html, body{
  height: 100%;
  margin: 0;
  overflow: auto;

}

body{
  padding-top: 1.5rem;
  /* font-family: 'Cairo', sans-serif; */
font-family: 'Roboto', sans-serif;

  /* background-image: url('https://camo.githubusercontent.com/18d1c2b9eb611e08de61573991562b57ff2f2a0f/687474703a2f2f692e696d6775722e636f6d2f4b5052755a7a582e706e67'); */
  background-color: #e0f2f1;
  /* background-size: cover; */
  /* font-weight: 300; */


}

.text-capitalize{
  text-transform: capitalize;
}

.underline{
  /* text-decoration: underline #434042; */
  /* text-decoration: underline; */
}

/* Overlay  */

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
  overflow: hidden;
}

.container{
  position: relative;
  z-index: 100;
}


.card-image img, img.activator{
  height: 425px;
  /* filter: grayscale(30%); */
}

/* span.underline{

} */

span.underline::after{
  content: "";
  border-bottom: 2px solid red;
  color: red;
  padding: 1px;
  border-width: 20%;
  width: 15%;
}

.btn {
  /* background-color: #141419; */
  background-color: #161818 !important;
  transition: all 0.5s ease-in;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  /* background-color: #434042; */
  /* background-color: #2f3131e5; */
  background-color: #2f9595 !important;
  /* opacity: 0.90; */
}



.card-title{
  padding-bottom: 1.2rem;
}

input[type="submit"]{
  margin-top: 0.9rem;
  margin-left: 1%;
}

/* Tasks  */
#task{
  /* font-family: monospace;  Or Search HAndwriting Font  */
  font-family: 'Cairo', sans-serif;
  font-weight: bold;

}
#tasks{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: .5rem;
  border-radius: 4px;
}

#filter{
  margin-bottom: 2rem;
}
ul.collection, .clear-tasks{
  margin-left: 10px;
}
.clear-tasks{
  margin-top: 1rem;
}

/* Alertify  */
.ajs-button{
  color: White;
  background: #3E9595 !important;
  border: none;
  outline-color: #3E9595;
}

/* Success Message  */
.alertify-notifier .ajs-message.ajs-success{
  background-color:  #2f9595;
  color: #f9f9f9f9;
}

.ajs-button:hover{
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}